@charset "UTF-8";

:root {
  /*light-scheme(defualt)*/
  --bg-primary-color: #FFFFFF;
  --text-primary-color: rgba(0, 0, 0, 0.85);

  --input-bg-color: #ffffff;
  --text-field-border-color: rgba(0, 0, 0, 0.30);
  --text-field-focus-border-color: rgba(0, 122, 255, 0.50);

  --button-bg-color: #ffffff;
  --button-text-color: rgba(0, 0, 0, 0.85);
  --button-border-color: rgba(0, 0, 0, 0.30);
  --button-hover-color: #D9D9D9;

  --body-border-color: rgba(0, 0, 0, 0.06);

  --qr-bg-color: #ffffff;
  --qr-bg-border-color: rgba(0, 0, 0, 0.1);

  --message-success-color: #D8EEDC;
  --message-success-icon-color: #017A40;

  --blue-alt: #007AFF;

  --border-right-color: rgba(0, 0, 0, 0.1);

  --primary-button-color: #F0F0F0;
  --primary-button-hover-border:rgb(170, 170, 170);

  /*shadows*/
  --shadows-1: 0px 0.5px 2.5px 0px rgba(0, 0, 0, 0.1), 0px -0.3px 2px 0px rgba(0, 0, 0, 0.3), 0px 0px 0px 0px rgba(0, 0, 0, 0.1);

}

@media (prefers-color-scheme: dark) {
  :root {
    /*dark-scheme*/
    --bg-primary-color: #242424;
    --text-primary-color: rgba(255, 255, 255, 0.85);

    --input-bg-color: #242424;
    --text-field-border-color: rgba(255, 255, 255, 0.3);
    --text-field-focus-border-color: rgba(0, 122, 255, 0.90);

    --button-bg-color: #242424;
    --button-text-color: rgba(255, 255, 255, 0.85);
    --button-border-color: rgba(255, 255, 255, 0.3);
    --button-hover-color: #424242;

    --body-border-color: rgba(255, 255, 255, 0.06);

    --qr-bg-color: #ffffff;
    --qr-bg-border-color: rgba(255, 255, 255, 0.1);

    --message-success-color: #004725;
    --message-success-icon-color: #4DBC87;

    --blue-alt: #0070F5;

    --border-right-color: rgba(255, 255, 255, 0.1);

    --primary-button-color: #303134;
    --primary-button-hover-border:#5f6368;

    /*shadows*/

    --shadows-1: 0px 0.5px 2.5px 0px rgba(255, 255, 255, 0.1), 0px -0.3px 2px 0px rgba(255, 255, 255, 0.3), 0px 0px 0px 0px rgba(255, 255, 255, 0.1);
  }
}

body {
  padding: 10px;
  margin: 0px;

  border-radius: 6px;
  border-width: 1px;
  border-color: var(--body-border-color);
  outline: none;

  width: auto;
  height: auto;

  font-family: Arial, sans-serif;

  background-color: var(--bg-primary-color);

  display: flex;
  flex-direction: column;
}

.popup-body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 218px;
  height: 300px;

  border-radius: 6px;
  border-width: 0px;

  background-color: var(--bg-primary-color);
}

#title {
  font-weight: thin;
  font-size: 1em;

  margin: 0;
  padding: 0;

  color: var(--text-primary-color);
  display: flex;
}

.qr {
  width: 202px;
  height: 202px;

  margin: 0;
  padding: 4px;

  background-color: var(--qr-bg-color);

  border-width: 0.5px;
  border-color: var(--qr-bg-border-color);
  border-radius: 6px;
}

.inputbar {
  width: 202px;
  background-color: var(--input-bg-color);
  color: var(--text-primary-color);
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.25em;

  border-width: 0px;
  border-radius: 6px;

  margin-top: 4.5px;
}

.inputbar:focus {
  outline: none;
  border-width: 0px;
  border-radius: 6px;

  box-shadow: 0px 0px 0px 3px var(--text-field-focus-border-color);
}

#btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  width: 210px;
}

.btn {
  font-size: 0.75em;
  text-align: center;

  height: 22px;

  padding: 0;
  margin: 0;

  cursor: pointer;

  border-width: 0px;
  border-style: solid;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--button-bg-color);
  color: var(--button-text-color);

  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--button-hover-color);
}

.btn:focus {
  outline: none;
}


/* CSS to style the SVG */
.download-icon {
  height: 14px;
  width: 14px;
  color: var(--button-text-color);
  /* Set the color of the SVG */
  margin: 0;
  padding-right: 0.25em;
  padding-left: 0.25em;
}

.copy-icon {
  color: var(--button-text-color);
  /* Set the color of the SVG */
  margin: 0;
  padding: 0;
}

.buttonCopy {
  background-color: var(--primary-button-color);
  width: 22px;
  height: 22px;
  border-radius: 6px;
  user-select: none;
  font-size: 0.75em;
  text-align: center;
  height: 22px;
  width: 22px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button-text-color);
}

.buttonCopy:hover {
  border: 0.5px solid var(--primary-button-hover-border);
}

.success-icon {
  color: var(--message-success-icon-color);
  /* Set the color of the SVG */
  position: absolute;
  /* Position the icon absolutely */
  top: 50%;
  /* Align the icon vertically */
  left: 50%;
  /* Align the icon horizontally */
  transform: translate(-50%, -50%);
  /* Center the icon */
}

.shadows-1 {
  box-shadow: var(--shadows-1);
}

#message {
  display: none;
  position: fixed;
  bottom: 9px;
  right: 2px;
  transform: translateX(-50%);
  background-color: var(--message-success-color);
  padding: 0;
  border-radius: 6px;
  z-index: 9999;
  align-items: center;
  margin: 0;
  height: 24px;
  width: 24px;
}

.dropdown-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: auto 0px auto 0px;
  border-radius: 6px;
}

.selector {
  cursor: context-menu;
  font-size: 0.75em;
  text-align: center;
  height: 22px;
  width: 22px;
  padding: 0;
  margin: 0;
  border-width: 0px;
  border-style: solid;
  border-radius: 0px 6px 6px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-primary-color);
  transition: background-color 0.3s ease;
}

.selector:hover {
  background-color: var(--button-hover-color);
}

.dropdown-menu {
  position: absolute;
  background-color: var(--bg-primary-color);
  backdrop-filter: blur(80px);
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  bottom: 28px;
  z-index: 1000;
  height: 22px;
}

.dropdown-container.open .dropdown-menu {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 76px;
  background-color: var(--bg-primary-color);
  box-shadow: 0px 7px 22px 0px rgba(0, 0, 0, 0.25), 0px 0px 1.5px 0px rgba(0, 0, 0, 0.3), 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
  border: 0.1px solid rgba(255, 255, 255, 0.15);
}

.dropdown-item {
  font-size: 0.75em;
  text-align: center;

  height: 22px;

  padding: 0 0.5em;
  margin-left: 3px;
  margin-right: 3px;

  cursor: pointer;

  border-width: 0px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: start;

  color: var(--button-text-color);

  background-color: transparent;
}

.dropdown-item:hover {
  background-color: var(--button-hover-color);
}

.dropdown-item:last-child {
  border: none;
  margin-bottom: 3px;
}

.dropdown-item:first-child {
  border: none;
  margin-top: 3px;
}

.download-button {
  padding: auto 9px;
  margin: 0;
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  border-radius: 5px 0px 0px 5px;
  border-right: 1px solid var(--border-right-color);
  cursor: pointer;

  font-size: 0.75em;
  text-align: center;

  flex-wrap: nowrap;
  height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--button-bg-color);
  color: var(--button-text-color);

  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: var(--button-hover-color);
}

.selector-icon {
  color: var(--button-text-color);
  margin: 0;
  padding: 0;
}