@charset "UTF-8";

:root {
  /*light-scheme(defualt)*/
  --light-bg-color: #FFFFFF;
  --light-text-color: #737373;

  --light-input-bg-color: #F2F2F2;
  --light-input-text-color: #4C4C4C;
  --light-input-border-color: none;

  --light-button-bg-color: #E9E9E9;
  --light-button-text-color: #4A4A4A;
  --light-button-border-color: #E3E3E3;
  --light-button-hover-color: #dedede;

  /*dark-scheme*/
  --dark-bg-color: #191C1F;
  --dark-text-color: #999C9F;

  --dark-input-bg-color: #0C0F12;
  --dark-input-text-color: #DBDBDC;
  --dark-input-border-color: none;

  --dark-button-bg-color: #555757;
  --dark-button-text-color: #FFFFFF;
  --dark-button-border-color: #8D8D8D;
  --dark-button-hover-color: #616363;

  /*constant*/
  --border-color: #BDBDBD;
  /*outer border for the body*/

  --qr-bg-color: #F2F2F2;

}



body.light-mode {
  padding: 2px 0px 6px 0px;
  margin: 0px;

  border-radius: 6px;
  border-width: medium;
  border-color: var(--border-color);
  outline: none;

  width: auto;
  height: auto;

  background-color: var(--light-bg-color);
}

body.dark-mode {
  background-color: var(--dark-bg-color);
}

.popup-body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 220px;
  height: 300px;

  border-radius: 6px;
  border-width: 0px;

  background-color: var(--light-bg-color);
}

/* Attempted but does not work

@media (prefers-color-scheme: dark) {
  .popup-body{
    background-color: var(--dark-bg-color) !important;
  }
}
*/

.title {
  font-weight: thin;
  font-size: 0.875em;

  margin: 0;
  padding: 0;

  color: var(--light-text-color);
}

.qr-code {
  width: 200px;
  height: 200px;

  margin: 0;
  padding: 0;

  background-color: var(--qr-bg-color);
}

.inputBar {
  width: 194px;
  background-color: var(--light-input-bg-color);
  /*border-width: thin;
  border-color: var(--toolbar-field-border-color);*/
  color: var(--light-input-text-color);
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border: none;
}

.inputBar:focus {
  border: none;
  outline: none;
  border-width: 0;
}

#btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  width: 200px;
}

.btn {
  font-size: 0.875em;
  text-align: center;


  padding: 0.25em 0.5em;

  cursor: pointer;

  border-width: thin;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--light-button-border-color);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--light-button-bg-color);
  color: #4A4A4A;

  transition: background-color 0.3s ease;
  /* Exclude transform from the transition */
  transition: transform 0.3s ease;
}

.btn:hover {
  background-color: var(--light-button-hover-color);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.96);
}