@charset "UTF-8";

:root {
  /*light-scheme(defualt)*/
  --bg-color: #FFFFFF;
  --text-color: #737373;

  --input-bg-color: #F2F2F2;
  --input-text-color: #4C4C4C;
  --input-border-color: none;

  --button-bg-color: #E9E9E9;
  --button-text-color: #4A4A4A;
  --button-border-color: #E3E3E3;
  --button-hover-color: #dedede;


  /*constant*/
  --border-color: #BDBDBD;
  /*outer border for the body*/

  --qr-bg-color: #F2F2F2;
}

@media (prefers-color-scheme: dark) {
  :root {   /*dark-scheme*/
    --bg-color: #191C1F;
    --text-color: #999C9F;
  
    --input-bg-color: #0C0F12;
    --input-text-color: #DBDBDC;
    --input-border-color: none;
  
    --button-bg-color: #555757;
    --button-text-color: #FFFFFF;
    --button-border-color: #8D8D8D;
    --button-hover-color: #616363;  
  }
}



body{
  padding: 2px 0px 6px 0px;
  margin: 0px;

  border-radius: 6px;
  border-width: medium;
  border-color: var(--border-color);
  outline: none;

  width: auto;
  height: auto;

  background-color: var(--bg-color);
}

.popup-body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 220px;
  height: 310px;

  border-radius: 6px;
  border-width: 0px;

  background-color: var(--bg-color);
}

.title {
  font-weight: thin;
  font-size: 0.875em;

  margin: 0;
  padding: 0;

  color: var(--text-color);
}

.qr {
  width: 200px;
  height: 200px;

  margin: 0;
  padding: 5px;

  background-color: var(--qr-bg-color);
}

.inputbar {
  width: 204px;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.25em;
  border: none;
}

.inputbar:focus {
  border: none;
  outline: none;
  border-width: 0;
}

.actions a {
  text-decoration: none;
}

.actions a:focus-visible {
  box-shadow: none;
}

#btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  width: 200px;
}

.btn {
  font-size: 0.875em;
  text-align: center;


  padding: 0.25em 0.5em;

  cursor: pointer;

  border-width: thin;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--button-border-color);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--button-bg-color);
  color: var(--button-text-color);

  transition: background-color 0.3s ease;
  /* Exclude transform from the transition */
  transition: transform 0.3s ease;
}

.btn:hover {
  background-color: var(--button-hover-color);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.96);
}

